:root {
    --strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --Very-Dark-Blue: hsl(234, 17%, 12%);
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--Dark-Grayish-Blue);
    background-color: var(--Very-Dark-Blue);
}
header {
    background: url("images/bg-header-desktop.png") no-repeat center center;
    background-size: cover;
}
p{
    color: var(--Grayish-Blue);
}
footer {
    background-color: var(--Dark-Grayish-Blue);
    color: white;
}
footer a {
    color: var(--Light-Blue);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.btn-custom {
    padding: .5rem 1.5rem;
    border-radius: 1rem !important;
    border: none;
    color: white;
    font-weight: 600;
}
.btn-ios {
    background-color: var(--strong-Cyan);
    box-shadow: 0 5px 5px var(--strong-Cyan);
}
.btn-mac {
    background-color: var(--Light-Blue);
    box-shadow: 0 5px 5px var(--Light-Blue);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--Light-Blue);
}
footer{
    background-color: var(--Grayish-Blue);
    padding: 2rem 4rem;
    justify-content: space-between;
}
.footer-logo img{
    width: 50px;
    height: 50px;
}
.float-left{
    gap: 6rem;
}
.quick-links{
    gap: 4rem;
}
.column-one,.column-two,.column-three,.float-right,.quick-links,.float-left,footer{
    display: flex;
}
.column-one,.column-two,.column-three{
    flex-direction: column;
    gap: 1rem;
}
.float-right{
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.quick-links>div a{
    color: var(--Very-Dark-Blue);
    font-weight: bold;
}
.quick-intro .row>div{
    transition: box-shadow,padding-top 1s ease-in-out;
}
.quick-intro .row>div:hover{
    padding-top: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--Grayish-Blue);
}
@media screen and (max-width:600px){
    .justify-content-center{
        text-align: center;
    } 
}
@media screen and (max-width:500px){
    .patnership .row,.float-left,.quick-links,footer{
        display: flex;
        flex-direction: column;
    }
    .patnership .row{
        align-items: center;
    }
    .float-left,.quick-links,footer{
        gap: 1rem;
    }
    .float-left{
        text-align: center;
    }
}
@media screen and (max-width:400px){
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
